* {
    font-family: 'Stylish', sans-serif;
}

.wrap {
    width: 900px;
    margin: 10px auto;
}

.header-title {
    font-weight: bold;
}

.header-text {
    font-size: 20px;
}

.posting-box {
    margin: 30px auto 30px auto;
    width: 500px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding: 25px;
    display: none;
}

.card-comment {
    color: grey;
    font-weight: bold;
}

